{% extends 'base.html.twig' %}
{% block title %}{{ table_name }}{% endblock %}

{% block body %}
    <h1>{{ table_name }}</h1>

    {% block content %}
    {% endblock %}

    {{ include('pages/tables/parts/add_form_modal.html.twig', {formaddname: "default"}) }}
{#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
<script>
    //    deleting item
        document.addEventListener('click', e => {
            if ($(e.target).hasClass('delete-item')) {
                Confirm('Odstranit', 'Opravdu chcete záznam odstranit?', 'Odstranit', 'Zrušit',
                    function () {
                        $("#deleteModal").modal("hide");
                        $("#loading").modal("show");
                        const id = e.target.getAttribute('data-id');
                        const table = e.target.getAttribute('data-table');
                        fetch(`/${table}/delete/${id}`, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                        $("#loading").modal("hide");
                    }, function () {
                        $("#deleteModal").modal("hide");
                    });
            }
            if ($(e.target).hasClass('make-admin')) {
                Confirm('Povýšení na admina', 'Opravdu chcete uživatele povýšit?', 'Povýšit', 'Zrušit',
                    function() {
                        $("#deleteModal").modal("hide");
                        $("#loading").modal("show");
                        const id = e.target.getAttribute('data-id');
                        fetch(`/users/upgrade/${id}`, {
                            method: 'PATCH'
                        }).then(res => window.location.reload());
                        $("#loading").modal("hide");
                    }, function (){
                        $("#deleteModal").modal("hide");
                });
            }
            if ($(e.target).hasClass('degrade-admin')) {
                Confirm('Degradovat na uživatele', 'Opravdu chcete uživatele degradovat?', 'Degradovat', 'Zrušit',
                    function() {
                        $("#deleteModal").modal("hide");
                        $("#loading").modal("show");
                        const id = e.target.getAttribute('data-id');
                        fetch(`/users/degrade/${id}`, {
                            method: 'PATCH'
                        }).then(res => window.location.reload());
                        $("#loading").modal("hide");
                    }, function (){
                        $("#deleteModal").modal("hide");
                    });
            }
        });

</script>
{% endblock %}
