<!-- modal na přidání jídla -->
<div class="modal fade" id="addFormModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {{ form_start(formadd) }}
                {{ form_widget(formadd) }}
                {{ form_end(formadd) }}
            </div>
        </div>
    </div>
</div>