.content {
    flex: 1 0 auto;
    border-radius: 2px 25px 225px 80px/2px 578px 25px 15px;
}
.footer {
    flex-shrink: 0;
}

body {
'Shadows Into Light Two', cursive !important;
}

nav .navbar-brand {
    font-size: xx-large;
}

nav a {
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, nav a {
    font-family: 'Amatic SC', bold !important;
}

