.content {
    flex: 1 0 auto;
    border-radius: 2px 25px 225px 80px/2px 578px 25px 15px;
}

.modal-content img {
    border: 2px solid #333;
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

#loading {
    margin-top: 7%;
}

.footer {
    flex-shrink: 0;
}

body, button, input {
    font-family: 'Mali', cursive;
}
.table-nonfluid {
    width: auto !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, nav a {
    font-family: 'Pangolin', cursive !important;
}

nav .navbar-brand {
    font-family: "Cabin Sketch", cursive !important;
    font-size: xx-large;
}

nav a {
    font-size: x-large;
}

input:required {
    -webkit-box-shadow: 0px 0px 6px -1px darkred;
    -moz-box-shadow: 0px 0px 6px -1px darkred;
    box-shadow: 0px 0px 6px -1px darkred;
}