<table id="table" class="table table-hover table-sm table-bordered">
    <thead class="thead-dark">
    <tr>
        {% for header in table.headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>Úpravy</th>
    </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
        <tr>
            {% for data in row.data %}
                <td>{{ data }}</td>
            {% endfor %}
            <td>
                <a href="#" class="btn btn-danger delete-item" data-id="{{ row.id }}" data-table="{{ table.name }}">Smazat</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFormModal">Přidat</button>